:root {
  --color-1: #f99fe1;
  --color-2: #fde12f;
  --color-3: #fffcad;
  --color-4: #a3c0ff;
  --color-5: #b3fd9a;
  --color-6: #ffadb0;
  --color-7: #cb94fe;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  color: #444;
  background-color: var(--color-1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 870px;
  height: 470px;
  border-radius: 10px;
  background-color: var(--color-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

h1 {
  font-size: 36px;
  padding: 30px 0px 80px 0px;
}

/* TOP */
.top {
  display: flex;
  gap: 35px;
  margin: 0rem 1rem 6rem 1rem;
}

h4 {
  font-size: 16px;
}

.pl-word p {
  padding: 10px 15px;
  width: 174px;
  border-radius: 10px;
  border: 2px solid #444;
  background-color: var(--color-3);
  font-size: 12px;
}

.input {
  padding: 10px 15px;
  border-radius: 10px;
  border: 2px solid #444;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

.infinite {
  background-color: var(--color-4);
}

.past-sim {
  background-color: var(--color-5);
}

.past-parti {
  background-color: var(--color-6);
}

/* BOTTOM */
.bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  margin-bottom: 50px;
}

.legend {
  width: 800px;
  display: flex;
  gap: 50px;
}

.color {
  display: flex;
  gap: 7px;
}

.color-1 {
  width: 14px;
  height: 12px;
  border-radius: 3px;
  border: 1px solid #444;
  background-color: var(--color-3);
}

.color-2 {
  width: 14px;
  height: 12px;
  border-radius: 3px;
  border: 1px solid #444;
  background-color: var(--color-4);
}

.color-3 {
  width: 14px;
  height: 12px;
  border-radius: 3px;
  border: 1px solid #444;
  background-color: var(--color-5);
}

.color-4 {
  width: 14px;
  height: 12px;
  border-radius: 3px;
  border: 1px solid #444;
  background-color: var(--color-6);
}
